.wufoo {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 20px;
	background-color: #eee;
	border-radius: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.wufoo li {
	width: 100%;
}

.wufoo label.choice {
	font-weight: normal;
}

.wufoo textarea.medium {
	border-radius: 4px;
}

.wufoo input.medium {
	width: 80%;
  border-radius: 4px;
}

form li.buttons input {
	width: 100%;
	height: 40px;
	border-radius: 20px;
	background-color: #2675a2;
	color: white;
	border: none;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

form li.focused {
	border-radius: 4px;
}